# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=AVIAN_Coin
Comment=AVIAN_Coin QT test network
GenericName=AVIAN_Coin Digital Currency QT client testnet network
Exec=avianitecoin_coin-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/avianitecoin_coin_testnet.png
MimeType=x-scheme-handler/avianitecoin;
Categories=X-Office;X-Finance;
Keywords=internet;avianitecoin_coin;zavianitecoin;tavianitecoin;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_IN]=avianitecoin-qt_testnet.desktop
