# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=AVIAN_Coin Daemon SNAP
Comment=testnet
GenericName=AVIAN_Coin Digital Currency Daemon Client testnet network
Exec=avianitecoin_coin-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/avianitecoin_coin_testnet.png
MimeType=x-scheme-handler/avianitecoin;
Categories=X-Office;X-Finance;
Keywords=internet;avianitecoin_coin;zavianitecoin;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_IN]=avianitecoind_testnet.desktop
